<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <org.jenkinsci.plugins.mvnscheduler.ScheduledMavenExecution>
      <spec>* * * * *</spec>
      <name>Toto</name>
      <goals>toto</goals>
      <descriptor class="org.jenkinsci.plugins.mvnscheduler.ScheduledMavenExecution$1">
        <outer-class reference="../.."/>
      </descriptor>
    </org.jenkinsci.plugins.mvnscheduler.ScheduledMavenExecution>
    <org.jenkinsci.plugins.mvnscheduler.ScheduledMavenExecution>
      <spec></spec>
      <name></name>
      <goals></goals>
      <descriptor class="org.jenkinsci.plugins.mvnscheduler.ScheduledMavenExecution$1">
        <outer-class reference="../.."/>
      </descriptor>
    </org.jenkinsci.plugins.mvnscheduler.ScheduledMavenExecution>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <rootModule>
    <groupId>org.jenkins-ci.plugins</groupId>
    <artifactId>maven-scheduler</artifactId>
  </rootModule>
  <goals>titi</goals>
  <defaultGoals>package</defaultGoals>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <usePrivateRepository>false</usePrivateRepository>
  <ignoreUpstremChanges>false</ignoreUpstremChanges>
  <archivingDisabled>false</archivingDisabled>
  <resolveDependencies>false</resolveDependencies>
  <processPlugins>false</processPlugins>
  <mavenValidationLevel>-1</mavenValidationLevel>
  <reporters/>
  <publishers/>
  <buildWrappers>
    <org.jenkinsci.plugins.mvnscheduler.SchedulerBuildWrapper>
      <executions>
        <org.jenkinsci.plugins.mvnscheduler.ScheduledMavenExecution reference="../../../../triggers/org.jenkinsci.plugins.mvnscheduler.ScheduledMavenExecution"/>
        <org.jenkinsci.plugins.mvnscheduler.ScheduledMavenExecution reference="../../../../triggers/org.jenkinsci.plugins.mvnscheduler.ScheduledMavenExecution[2]"/>
      </executions>
      <parent class="maven2-moduleset" reference="../../.."/>
    </org.jenkinsci.plugins.mvnscheduler.SchedulerBuildWrapper>
  </buildWrappers>
</maven2-moduleset>